body {
  margin: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}


/*background-video*/

#my-video {
  width: 100%; 
  height: 100vh;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}



.content {
  font-size: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  height: auto;
  padding: 80px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  outline: none;
}

.nav {
  margin-top: 0;
  border: none;

}

.header-to-header {
  margin-top: -90px;
  position: fixed;
}

.header-to-header img {
  float: left;
  margin-top: 8px;
  margin-left: 0px;
  padding: 5px;
  width: 100px;
  height: 100px
}

.header-text-details #new {

  margin-top: 20px;
  right: 17px;
  padding: 6px;
  text-align: right;
  color: white;
  font-size: 17px;
  padding-bottom: 50px;
  position: fixed;
  font-family: Arial;
}

/* sticky slide social icon bar */




/* button */


.center-text {
  float: left;
  margin-top: 23px;
  margin-left: 35px;
  text-decoration: none;
}

.button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  text-shadow: 5px;
  transition-duration: 0.3s;
  outline: none;
  text-decoration: none;
}

.button:hover {
  background-color: rgb(255, 0, 0, 0.7);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.content h1, p {
  padding: 20px;
}

#bangladesh {
  text-decoration: none;
  color: #d9d9d9;
  text-shadow: 2px #bfbfbf;
}

#content-header-text {
  color: #f1f1f1;
}

/* sticky side icon*/

.icon-bar {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 15px;
  border: none;
  background: #1a1a1a;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
  transition: 0.5s;
}

/* callout */

.callout {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 300px;
  font-family: Arial, Helvetica, sans-serif;
}

.callout-header {
  padding: 20px 20px;
  background: rgba(0, 0, 0, 0.7);
  font-size: 30px;
  color: white;
}

.callout-container {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;

}

.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: lightgrey;
}

.callout-container a {
  color: #0080ff;
}

.callout-container a:hover {
  color: #4dff4d;
}

.text-design {
  font-size: 18px;
  color: yellow;
}
